<div class="appContainer">
  <div class="container tictactoeContainer">
    <div class="resetGame">
      <button (click)="powerOff()" class="powerOff">
        <i class="fas fa-power-off"></i>
      </button>
      <button (click)="reset()" class="reload">
        <i class="fas fa-redo-alt"></i>
      </button>
    </div>

    <span class="gameTitle">Tic Tac Toe</span>
    <div class="gameData">
      <span *ngIf="!isEnded" class="currentPlayer"
        >Jogador Atual: {{ currentPlayer }}</span
      >
      <span
        >Placar Atual:
        <span class="score">{{ p1Score }} - {{ p2Score }}</span></span
      >
      <span [hidden]="!isEnded"
        >Vencedor: <span class="winner">{{ winner }}</span></span
      >
    </div>

    <table class="board">
      <tr *ngFor="let row of [0, 1, 2]">
        <td *ngFor="let col of [0, 1, 2]" (click)="play(row, col)">
          {{ board[row][col] }}
        </td>
      </tr>
    </table>
  </div>
</div>
